.aboutUS-container {
   padding-top: 4.2em;
   padding-bottom: 4.2em;
   padding-left: 1.5em;
   padding-right: 1.5em;
   background-color: #00473e;
}

.box-years-of-experience {
   color: #faae2b;
   display: flex;
   align-items: center;
   gap: 7px;
   margin-bottom: 10px;
}

.icon-tree-aboutUS {
   font-size: 26px;
}

.span-years-of-experience {
   font-size: 13px;
   font-weight: 700;
}


.subtitle-aboutUS {
   font-size: 25px;
   font-weight: 700;
   color: #ffffff ;
   line-height: 1.5;
}

.paragraph-aboutUs {
   color: #ffffff;
   font-size: 14px;
   font-weight: 400;
   margin-top: 0.9em;
   line-height: 1.4;
}

.characteristics-aboutUs {
   color: #faae2b;
   display: flex;
   align-items: center;
   gap: 5px;
}

.characteristics-box-aboutUs {
   display: flex;
   flex-direction: row;
   gap: 15px;
   margin-top: 1.7em;
}

.span-characteristics-aboutUs {
   font-size: 14px;
}

/* .subtitle-aboutUS {
   opacity: 0;
   transform: translateY(50px);
   animation: fadeInUp 2s ease-out forwards;;
} */

/* @keyframes fadeInUp {
   from {
       opacity: 0;
       transform: translateY(50px);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
} */

.image-box-aboutUS {
   margin-top: 3em;
}

.image-box-aboutUS img {
   object-fit: cover;
   height: 310px;
}

@media screen and (min-width: 850px) {
   .title-aboutUS {
      font-size: 37px;
   }

   .subtitle-aboutUS {
      font-size: 19px;
   }

   .content-aboutUs {
      font-size: 18px;
   }
}

@media screen and (min-width: 1000px) {
   .aboutUS-container {
      padding-top: 5.3em;
      padding-bottom: 5.3em;
      display: flex;
      flex-direction: row-reverse;
      gap: 4em;
   }

   .img-aboutUs-box {
      margin-top: 0em;
      width: 40%;
   }

   .img-aboutUs {
      max-width: none;
      width: 100%;
      height: 100%;
   }

   .aboutUS-box {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}
