.contact-container {
   padding-top: 4.2em;
   padding-bottom: 4.2em;
   margin-top: 4em;
   background-color: #00473e;
}

.contact-box {
   margin-left: 1.5em;
   margin-right: 1.5em;
}

.subtitle-contact {
   font-weight: 800;
   font-size: 40px;
   color: #fff;
   margin-bottom: 0.7em;
   display: flex;
   flex-direction: column;
}

.highlighted-word-contact {
   color: #faae2b;
}

.form-box {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.paragraph-form-contact {
   color: #fff;
   font-size: 13px;
   padding-bottom: 10px;
}

.form-box {
   margin-bottom: 3em;
}

.input-form-contact {
   margin-bottom: 1.3em;
}

.form-box input {
   border: none;
   padding: 6px 16px;
   height: 40px;
}

.form-box textarea {
   border: none;
   margin-bottom: 1.8em;
   height: 100px;
   padding: 17px;
   font-family: sans-serif;
}

.btn-form {
   text-decoration: none;
   border: none;
   background-color: #000;
   color: #fff;
   cursor: pointer;
}

.infomation-contactMe-container {
   margin-top: 65px;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.form-and-informationContainer {
   margin-top: 2em;
   width: 100%;
   margin-bottom: 5em;
}

.information-contactMe-box {
   display: flex;
   flex-direction: row;
   margin-left: 0.3em;
   gap: 30px;
}

.title-general-information-contactMe {
   color: #fff;
   font-weight: 630;
   margin-bottom: 1em;
}

.icon-box {
   color: #faae2b;
   font-size: 26px;
}

.icon-box i {
   margin-top: 0.4em;
   font-size: 22px;
}

.text-general-box {
   display: flex;
   flex-direction: column;
}

.span-general-information-contactMe {
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   padding-bottom: 6px;
}

@media screen and (min-width: 850px) {
   .form-and-informationContainer {
      display: flex;
      gap: 4em;
   }

   .form-box {
      width: 50%;
   }

   .infomation-contactMe-container {
      margin-top: 0px;
      gap: 4em;
   }

   #miId {
      height: 400px;
   }
}

@media screen and (min-width: 1000px) {
   .contactMe-container {
      padding-top: 5.3em;
   }
}
