.service-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 4.5em;
   margin-left: 1.5em;
   margin-right: 1.5em;
}

.subtitle-service {
   margin-top: 0.8em;
   color: #00473e;
   font-size: 25px;
   font-weight: 700;
   text-align: center;
   line-height: 1.5;
}

.information-general-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 2.5em;
   gap: 3.8em;
   margin-bottom: 4.5em;
}

.information-service-box {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 9px;
   background-color: #fff;
   border: 1.1px solid #000;
}

.information-service-box-little {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: #fff;
   border: 1.1px solid #000;
}

.characteristics-information-box,
.information-service-box-little {
   padding: 19px;
   padding-top: 24px;
}

.additional-text-box-aboutUS {
   color: #d8779a;
   border-bottom: 2px solid #d8779a;
   width: max-content;
   /* margin-top: 0.9em; */
}

.additional-text-aboutUS {
   font-size: 15px;
   font-weight: 600;
   padding-bottom: 18px;
}

.title-information-service {
   color: #00473e;
   font-size: 25px;
   font-weight: 700;
   line-height: 1.5;
}

.title-information-little {
   font-size: 19px;
}

.paragraph-information-service {
   color: #475d5b;
   font-size: 15px;
   margin-top: 0.7em;
   font-weight: 500;
   line-height: 1.4;
}

.paragraph-service {
   color: #475d5b;
   font-size: 15px;
   margin-top: 1.1em;
   font-weight: 500;
   line-height: 1.4;
   text-align: center;
}

.more-information-service-box {
   display: flex;
   align-items: center;
   margin-top: 1.4em;
   margin-bottom: 3px;
   color: #faae2b;
   gap: 5px;
}

.more-information-service,
.icon-rigth {
   font-size: 13px;
   font-weight: 500;
}

.img-service {
   width: 100%;
   height: 200px;
   object-fit: cover;
}

.icon-scissors,
.icon-insect {
   font-size: 38px;
   color: #19aa5b;
}

.icons-service-box {
   padding-bottom: 10px;
}

@media screen and (min-width: 700px) {
   .information-general-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
      /* gap: 10px; */
   }

   .information-service-box {
      width: 100%;
      max-width: 400px;
   }
}

@media screen and (min-width: 1000px) {
   .service-container {
      padding-top: 5.3em;
   }

   .information-general-box {
      margin-bottom: 5.3em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
}
